<li>
  <strong>{{post.headline}}</strong>
  <br> by {{post.author}}
  <br> {{post.date}}
  <br> {{post.content}}
  {{update-post post=post update="update" destroyPost='destroyPost'}}
  <button class="btn btn-danger" {{action 'destroyPost' post}}>Delete</button>
</li>
