<li>
  <div class="post-preview">
    {{#link-to 'post' post.id}}
      <h2 class="post-title">
        {{post.headline}}
      </h2>

      <h3 class="post-subtitle clamped">
        {{post.content}}
      </h3>
    {{/link-to}}

    <p class="post-meta">Posted by {{post.author}} on {{moment-format post.date}}
      {{update-post post=post update="update" destroyPost='destroyPost'}}
      <span class="glyphicon glyphicon-trash" aria-hidden="true" {{action 'destroyPost' post}}></span>
    </p>

  </div>
</li>
