<li>
  <div class="post-preview article">
    {{#link-to 'post' post.id}}
      <h2 class="post-title">
        {{post.headline}}
      </h2>

      <h3 class="post-subtitle clamped">
        {{post.content}}
      </h3>
    {{/link-to}}

    <p class="post-meta">
      Posted by {{post.author}} on {{moment-format post.date}}
      <!-- TODO: separate out into category-listing component -->
      <ul>
        {{#each category in post.categories}}
          <li>
            {{#link-to 'category' category.id}}
              {{category.type}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </p>

  </div>
</li>
