<div class="container">
  <h2>{{post.headline}}</h2>
  <h4>by {{post.author}}</h4>
  <i><p>{{moment-format post.date}}</p></i>
  {{post.content}}
  {{add-comment post=post addComment="addComment"}}

  <ul>
    
    {{#each category in post.categories}}
      <li>{{category.type}}</li>
    {{/each}}
  </ul>


  <h2>Comments</h2>
  <ul>
    {{#each sortedComments as |comment|}}
    <div class="comments">
      <li>
        <strong>{{comment.user}}</strong>: {{comment.comment}}<br>
        <i class="comment-date">{{moment-format comment.date}}</i>
      </li>
    </div>
    {{/each}}
  </ul>
</div>
